#include <windows.h>

APPICON ICON "sustimer.ico"

VS_VERSION_INFO VERSIONINFO 
FILEVERSION 1,0,0,0
FILETYPE VFT_APP {
  BLOCK "StringFileInfo" {
    BLOCK "041103A4" {
      VALUE "ProductVersion", "1.5\0"
      VALUE "FileDescription", "Timer to suspend PC\0"
      VALUE "CompanyName", "github.com/0mg\0"
      VALUE "ProductName", "Suspend PC Timer\0"
    }
  }
  BLOCK "VarFileInfo" {
    VALUE "Translation", 0x0411, 932
  }
}
