#include <windows.h>

APPICON ICON "sustimer.ico"

VS_VERSION_INFO VERSIONINFO 
FILEVERSION 2,0,0,0
FILETYPE VFT_APP {
  BLOCK "StringFileInfo" {
    BLOCK "041103A4" {
      VALUE "FileDescription", "Suspend PC Timer\0"
    }
  }
  BLOCK "VarFileInfo" {
    VALUE "Translation", 0x0411, 932
  }
}
